<html>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <body>
    {% extends "layout.html" %}
    {% block content %}
        <div class ="contract">
            <h1>Available Producers</h1>
        </div>
        

     <table class="tab">
        <tr>
            <th>Producer</th>
            <th>Minimum Delivery (kWh)</th>
            <th>Price (NOK)</th>
            {%for k, v in table.items()%}
                <tr>
                    <td> 
                        {{k}}
                    </td>
                    {%for i in v%}
                        <td id='data'>{{i}}</td>
                    {%endfor%}
                </tr>
            {%endfor%}
        </tr>
     </table>
     <h2>Fill out the form to create a smart contract</h2>
    <form action="/contract/" method="post">
        <div id="tab">
            <label for="prod">Producer Public Key:</label>
            <input type="text" id="prod" name="producer_id">
        </div>
        <div id="tab">
            <label for="buyer">Buyer Public Key:</label>
            <input type="text" id="buyer" name="buyer_id">
        </div>
        <div id="tab">
            <label for="kwh">Minimum Delivery (kWh):</label>
            <input type="text" id="kwh" name="kwh">
        </div>
        <div id="tab">
            <label for="price">Price (NOK):</label>
            <input type="text" id="price" name="price">
        </div>
        <div id="popup">
            <label for="pass">Buyer Private Key </label>
            <input id="pass" type="password"/>  
        </div>
          <div id="tab" class="button">
              <button type="submit">Sign and Submit to Blockchain</button>
        </div>

    </form>
  
    

    {% endblock %}
    </body>
</html>

